*{
    margin:0;
    padding:0;
    font-family: Arial;
}
#nav-belt{
    height:60px;
    background-color: #131921;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.nav-left{
    height: 60px;
    width:205px;
    display:flex;
    align-items: center;
}
.logo{
    background-image: url(amazon_logo.png);
    height: 55px;
    width: 120px;
    padding: 0;
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid beige;
    cursor: pointer;
}
.nav-location{
    color:white;
    padding: 10px 0 0 4px;   
    height: 40px;
    width: 80px;
}
.deliver{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left:15px;
}
.address{
    font-size: 1rem;
    color:white;
    margin-left:  3px; 
}
#place{
    display: flex;
}
.nav-search{
    color:white;
    display:flex;
    height: 40px;
    width: 898px;
    align-items: center;
    margin-left: 5px;
    border-radius:2% ;
    justify-content: space-evenly;    
}
.nav-search:hover{
    border: 2.5px solid orange;
    border-radius: 7px;
    cursor: pointer;
}
#all-options{
    height: 40px;
    width: 52px;
    background-color: #f3f3f3;
    text-align: center;
    border-bottom-left-radius:4px ;
    border-top-left-radius:4px ;
    border: none;
    cursor: pointer;
}
#search-bar{
    height: 40px;
    width: 100%;
    border: none;
    font-size: 15px;
    padding-left: 5px;
}
.search-logo{
    height: 40px;
    width: 45px;
    background-color: #febd68;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius:4px ;
    border-top-right-radius:4px ;
    font-size: 20px;
    color: #131921;

}
.flag{
    background-image:url(united-states.png) ;
    height: 17px;
    width: 20px;
    background-size: cover;
}
.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lang-bar{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 50px;
    width: 73px;
}

#lang{
    border:none;
    background-color:#131921;
    color: white;
    font-weight: bold;
}
span{
    font-size: 0.7rem;
    font-weight: 500;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-signin{
    height: 50px;
    width: 131px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1px;
}
.nav-returns{
    height: 50px;
    width: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1px;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    margin: 1px;
    height: 40px;
    width: 84px;
    padding: 10px 0 0 4px;  
}
#nav-main{
    height:39px;
    background-color: #232f3e;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly   ;
}
.panel-ops p{
    display:inline;
    margin: 5px;
    padding: 10.5px;
}
.panel-ops{
    width:80%;
    font-size: 0.85rem;
    
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
    padding: 10px;
}
.panel-all{
    padding: 10.5px;
}
/**hero-section**/

#hero-section{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#hero-msg{
    background-color: white;
    color: black;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width:90%;
    margin-bottom:25px;
}
#hero-msg a{
    color:#007185;
    text-decoration: none;
}

/**shop-section**/

#shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
    height: 925px;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding:20px 0 15px ;
    margin-top: 15px;
}
.box-image{
     height: 300px; 
    background-size: cover;
    margin:1rem 0 1rem 0;
    
}
.box-content{
    margin:0  1rem 0 1rem;
}
.box-content p{
    color: #007185;
}
/* *footer* */

.foot-panel1{
    height: 50px;
    color:white;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    
}
.foot-panel2{
    height:400px;
    background-color: #222f3d;
    color: white;
    display:flex;
    justify-content: space-evenly;
}
ul a{
    display:block;
    color: #ddd;
    font-size: 0.85rem;
    margin-top:10px;
}
ul p{
    font-weight: 700;
}
ul{
    margin-top:30px;
}
.foot-panel3{
    background-color: #222f3d;
    border-top: 0.5px solid #ddd;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel4{
    background-color: #131921;
    color: white;
    height: 100px;
    text-align: center;
    font-size: 0.8rem;
}
.pages{
    padding-top: 30px;
}
.pages a{
    padding-left: 20px;
}   
.copyright{
    margin-top: 5px;
}